header
  background-image: url("../img/img-carousel.jpeg")
  background-size: cover
  background-position: center
  height: 50rem
  div
    display: flex
    justify-content: center
    align-items: flex-end
    margin-top: 22%
    gap: 2em
    div
      width: 3em
      height: .3em
      background: #E7EAEB
      border-radius: 1em
      &:hover
        background: #FFA500
@media (max-width: 1024px)
  header
    .carousel
      margin-top: 30%
@media (max-width: 768px)
  header
    .carousel
      margin-top: 42%
@media (max-width: 425px)
  header
    .carousel
      margin-top: 78%
