h1
  text-align: center
  font-weight: bold
  color: white
div
  display: flex
  .calendar
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 10em
    margin-bottom: 10em
    padding: 0
    gap: 5px
    width: 60%
    li
      position: relative
      padding: 15px
      transform: rotate(8deg)
      width: 60%
      background: #fff
      display: flex
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.8)
      border-bottom-left-radius: 5px
      border-top-left-radius: 5px
      time
        position: relative
        background: #fff
        display: flex
        justify-content: center
        align-items: center
        padding: 20px
        box-sizing: border-box
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.8)
        transform: translateX(-76px)
        font-size: 20px
        overflow: hidden
        border-bottom-left-radius: 5px
        border-top-left-radius: 5px
    li:hover
      color: #82368B
      font-size: 20px
@media (max-width: 768px)
  div
    .calendar
      width: 50%
      li
        width: 50%
        font-size: 1em
        time
          font-size: 1em
      li:hover
        font-size: 1em
@media (max-width: 425px)
  div
    flex-direction: column
    align-items: center
    .calendar
      width: 70%
      margin: 1em 0

      li
        width: 70%
        padding: 10px
        font-size: 0.8rem
        transform: rotate(0deg) // Supprime la rotation sur les très petits écrans pour la lisibilité
        time
          font-size: 0.8rem

      li:hover
        font-size: 0.85rem // Effet mini