@font-face {
  font-family: "PKMN RBYGSC";
  src: url("../public/fonts/PKMN RBYGSC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

header {
  background-image: url("../img/img-carousel.jpeg");
  background-size: cover;
  background-position: center;
  height: 50rem;
}
header div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 22%;
  gap: 2em;
}
header div div {
  width: 3em;
  height: 0.3em;
  background: #E7EAEB;
  border-radius: 1em;
}
header div div:hover {
  background: #FFA500;
}

@media (max-width: 1024px) {
  header .carousel {
    margin-top: 30%;
  }
}
@media (max-width: 768px) {
  header .carousel {
    margin-top: 42%;
  }
}
@media (max-width: 425px) {
  header .carousel {
    margin-top: 78%;
  }
}
nav {
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding: 2em;
  position: relative;
}
nav h1 {
  font-family: "PKMN RBYGSC", sans-serif;
  display: flex;
  margin-bottom: 0.2em;
  text-align: center;
  padding-left: 0.35em;
  letter-spacing: 0.5em;
}
nav h1 a {
  font-family: "PKMN RBYGSC", sans-serif;
  text-decoration: none;
  color: white;
}
nav h1 span {
  font-family: "PKMN RBYGSC", sans-serif;
  color: #82368D;
}
nav h1:hover {
  font-family: "PKMN RBYGSC", sans-serif;
  color: #82368D;
}
nav h1:hover a {
  font-family: "PKMN RBYGSC", sans-serif;
  text-decoration: none;
  color: #82368B;
}
nav h1:hover span {
  font-family: "PKMN RBYGSC", sans-serif;
  color: white;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 3em;
  visibility: visible;
}
nav ul li {
  padding-bottom: 0.5em;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li:hover {
  border-bottom: 1px solid #f0f4f4;
}
nav .burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2em;
  height: 2em;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}
nav .burger-menu span {
  display: block;
  width: 100%;
  height: 0.25em;
  background: #fff;
  border-radius: 10px;
}

@media (max-width: 768px) {
  nav {
    align-items: center;
  }
  nav .burger-menu {
    display: flex;
    padding-top: 1em;
    gap: 0.2em;
  }
  nav ul {
    flex-direction: column;
    position: absolute;
    top: 100%;
    margin: 0;
    padding: 1em 0;
    background: rgb(255, 255, 255);
    width: 100%;
    z-index: 1;
  }
  nav ul li {
    color: #82368B;
    margin: 1em;
  }
  nav ul li a {
    text-decoration: none;
    color: black;
    font-family: "PKMN RBYGSC", sans-serif;
  }
  nav.open ul {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 425px) {
  nav {
    align-content: center;
    justify-content: space-around;
  }
  nav h1 {
    letter-spacing: 0;
  }
}
.propal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem;
}
.propal .divPro {
  background-color: #E1E5E6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
}
.propal .divPro img {
  width: 35%;
}
.propal .divPro div {
  margin: 2rem;
}
.propal .divPro div h1 {
  color: black;
}
.propal .divPro div h1 span {
  color: #82368D;
}
.propal .divPro div p {
  width: 75%;
}

@media (max-width: 768px) {
  .propal .divPro {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .propal .divPro img {
    width: 75%;
  }
  .propal .divPro div h1 {
    text-align: center;
  }
  .propal .divPro div p {
    width: 100%;
  }
}
.formations {
  background-color: #E1E5E6;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.formations div {
  padding: 3em;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  margin: 2rem;
}
.formations div h1 {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}
.formations div h1 span {
  color: #82368D;
}
.formations div p {
  padding-bottom: 1rem;
}
.formations div p span {
  color: #82368D;
  font-weight: bold;
}
.formations div img {
  width: 25rem;
}
.formations div .imgLg {
  padding-top: 3rem;
}

@media (max-width: 425px) {
  .formations div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }
  .formations div h1 {
    font-size: 1.5rem;
  }
  .formations div img {
    width: 15rem;
  }
}
.courte {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
}
.courte div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: auto;
  margin: 1rem;
  background-color: #c8d8e5;
  backdrop-filter: blur(7px);
  width: 30em;
}
.courte div h1 span {
  color: #82368D;
}
.courte div img {
  width: 100%;
  object-fit: cover;
}

.about {
  padding-top: 4em;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f4f4;
  padding-bottom: 1em;
}
.about h1 {
  margin-bottom: 0.2em;
  text-align: center;
  letter-spacing: 0.5em;
}
.about h1 span {
  color: #82368D;
}
.about .about1 {
  background-color: #E1E5E6;
  margin: 5%;
  display: flex;
  text-align: center;
}
.about .about1 img {
  width: 50%;
}
.about .about1 .about2 {
  color: black;
  padding: 3em;
  line-height: 2em;
  text-align: left;
}
.about .about1 .about2 h3 {
  color: #82368D;
}
@media (max-width: 768px) {
  .about .about1 {
    flex-direction: column;
  }
  .about .about1 img {
    width: 100%;
  }
}
.partenaire {
  padding-left: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #E1E5E6;
}
.partenaire div img {
  width: 10%;
}

.social {
  padding-top: 4em;
  display: flex;
  align-items: center;
  background-color: #E1E5E6;
}
.social div {
  padding-left: 7%;
  display: flex;
  gap: 1em;
}
.social div img {
  width: 15%;
}

@media (max-width: 768px) {
  .social div h3 {
    font-size: 0.5em;
  }
}
@media (max-width: 425px) {
  .social {
    padding-top: 1em;
  }
}
footer {
  padding: 1.1em;
  display: flex;
  background-color: #E1E5E6;
  align-items: center;
  justify-content: center;
}
footer .container {
  display: flex;
  gap: 15rem;
}
footer .container p {
  font-size: 0.7em;
}
footer .container p span {
  color: #82368D;
}
footer .container p strong {
  color: #82368D;
}

@media (max-width: 425px) {
  footer .container {
    gap: 5rem;
  }
  footer .container p {
    font-size: 0.3em;
  }
}

/*# sourceMappingURL=app.css.map */
