@font-face {
  font-family: "PKMN RBYGSC";
  src: url("../public/fonts/PKMN RBYGSC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

header {
  background-image: url("../img/img-carousel.jpeg");
  background-size: cover;
  height: 50rem;
}
header div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 22%;
  gap: 2em;
}
header div div {
  width: 2em;
  height: 0.5em;
  background: white;
  border-radius: 1em;
}

nav {
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding: 2em;
  backdrop-filter: blur(3px);
}
nav h1 {
  font-family: "PKMN RBYGSC", sans-serif;
  display: flex;
  margin-bottom: 0.2em;
  text-align: center;
  padding-left: 0.35em;
  letter-spacing: 0.5em;
}
nav h1 span {
  font-family: "PKMN RBYGSC", sans-serif;
  color: #82368D;
}
nav h1:hover {
  font-family: "PKMN RBYGSC", sans-serif;
  color: #82368D;
}
nav h1:hover span {
  font-family: "PKMN RBYGSC", sans-serif;
  color: white;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 3em;
}
nav ul li {
  padding-bottom: 0.5em;
}
nav ul li:hover {
  border-bottom: 1px solid #f0f4f4;
}

.propal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem;
}
.propal div {
  background-color: #E1E5E6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
}
.propal div img {
  width: 35%;
}
.propal div div {
  margin: 2rem;
}
.propal div div h1 {
  color: black;
}
.propal div div h1 span {
  color: #82368D;
}

.formations {
  background-color: #E1E5E6;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.formations div {
  padding: 3em;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  margin: 2rem;
}
.formations div h1 {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}
.formations div h1 span {
  color: #82368D;
}
.formations div p {
  padding-bottom: 1rem;
}
.formations div p span {
  color: #82368D;
  font-weight: bold;
}
.formations div img {
  width: 25rem;
}
.formations div .imgLg {
  padding-top: 3rem;
}

.courte {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
}
.courte div {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: auto;
  margin: 5rem;
  background-color: #ecdec3;
  width: 30em;
}
.courte div h1 span {
  color: #82368D;
}
.courte div img {
  width: 100%;
  object-fit: cover;
}

.about {
  padding-top: 4em;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f4f4;
  padding-bottom: 1em;
}
.about h1 {
  margin-bottom: 0.2em;
  text-align: center;
  letter-spacing: 0.5em;
}
.about h1 span {
  color: #82368D;
}
.about .about1 {
  background-color: #E1E5E6;
  margin: 5%;
  display: flex;
  text-align: center;
}
.about .about1 img {
  width: 50%;
}
.about .about1 .about2 {
  color: black;
  padding: 3em;
  line-height: 2em;
  text-align: left;
}
.about .about1 .about2 h3 {
  color: #82368D;
}

/*# sourceMappingURL=app.css.map */
